<!DOCTYPE html>
<html lang="en">
<head>
    <h3>Bienvenido, {{user}}!</h3>
    <p>Rol: {{role}}</p>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.title }}</title>
</head>
<body>
    <h1>{{ product.title }}</h1>
    <p>Descripción: {{ product.description }}</p>
    <p>Precio: ${{ product.price }}</p>
    <p>Stock: {{ product.stock }}</p>
    <p>Categoria: {{ product.category }}</p>
    <button class="uk-button uk-button-secondary uk-button-small uk-border-rounded">Comprar</button>

    <a href="/">Volver a la página principal</a>
</body>
</html>
